body {
    font-family: sans-serif;
    background-color: HoneyDew;
    background-image: url("https://pbs.twimg.com/profile_images/891589877443117056/SVMzn92G_400x400.jpg");
    background-position: center center;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius: 50%;
}

