body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
 
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header .row {
  display: flex;

}

header h1 {
  font-weight: 700;
  margin: 0;
  text-align: left; 
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  
}

.jumbotron {

  background: url(https://pbs.twimg.com/media/DF-apjjU0AAlE-6?format=jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  
  
  color: grey;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
 
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbortron h3 {
  margin: 0 0 20px;
  color: white;
  text-align: left;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 5px;
  border: 0px;
  color: blue;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: green;
}

.btn-secondary {
  background-color: SkyBlue;
  color: #ffffff;
  margin: 0 0 30px;
}

.btn-secondary:hover {
  background-color: white;
}

footer {
   text-align: center;
   padding: 20px 0;
   
}






.article-container {
    padding: 20px 30px;
    }
.article-body {
    background-color: #eaeaea;
}